---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tatiana Inama">
	<main>
		<section>
			<h1>Tatiana Inama</h1>
			<p>Hi!</p>
			<p>I’m a front-end engineer originally from Argentina, now based in The Netherlands.</p>
			<p>With a keen interest in UX/UI design, I strive to create visually appealing and user-centric experiences. I love merging design principles with development, making apps and websites that are not only functional but also engaging.</p>
			<p>When I’m not coding, you can find me experimenting in the kitchen or taking long walks with my two wire fox terriers, Taco and Chili.</p>
			<p>Feel free to email me at tatiana@inama.dev</p>
		</section>
	</main>
</Layout>
